@model WebStore.Models.Product 
<div class="product-image-wrapper">
	<div class="single-products">
		<div class="productinfo text-center">
			<img src="@Model.Image" alt="@Model.Name" />
			<h2>$@Model.Price</h2>
			<p>@Model.Name</p>
			<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
		</div>
											
	</div>
</div> 