<div class="post-meta">
    <ul>
        <li><i class="fa fa-user"></i> Mac Doe</li>
        <li><i class="fa fa-clock-o"></i> 1:33 pm</li>
        <li><i class="fa fa-calendar"></i> DEC 5, 2013</li>
    </ul>
    <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
    </span>
</div>