@using WebStore.Data;
@model DepartmentViewModel
@{
    ViewBag.Title = "Department Id edit";
}

<div class="container">
    <h4>DepartmentViewModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" id="@Model.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-warning" /> 
                    <a asp-controller="Departments" asp-action="Delete" asp-route-Id="@Model.Id" class="btn btn-danger text-danger">
                        <i class="fa fa-trash-o"></i> Del
                    </a>  |
                    <a asp-controller="Departments" asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div> 
</div>

