@model IEnumerable<WebStore.Models.Product>
@{
    ViewBag.Title = "Catalog";
}
<partial name="Partial/_CatalogBannerTop"/>	
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<partial name="Partial/_CatalogLeftSideBar"/> 	
					<partial name="Partial/_CatalogBannerLeftSideBar"/>	 
				</div>
			</div>
				
			<div class="col-sm-9 padding-right">
				<div class="features_items"><!--features_items-->
					<h2 class="title text-center">Features Items</h2>  
					@foreach (var product in Model)
					{
						<partial name="Partial/CatalogCard/_CatalogCardList" model=product />
					}
					<partial name="Partial/_CatalogNavigation"/> 	
				</div><!--features_items-->
			</div>
		</div>
	</div>
</section>
	